/* line 17, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../scss/components/_base.scss */
body {
  font: 100% 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif; }

/* line 8, ../scss/components/_base.scss */
.wrap {
  width: 1000px;
  margin: 0 auto; }

/* line 13, ../scss/components/_base.scss */
a {
  text-decoration: none; }

/* line 2, ../scss/components/_header.scss */
#header {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2; }
  /* line 10, ../scss/components/_header.scss */
  #header #logo, #header #menu {
    float: left; }
  /* line 14, ../scss/components/_header.scss */
  #header #logo {
    margin-right: 100px; }
    /* line 18, ../scss/components/_header.scss */
    #header #logo a {
      display: block;
      font-size: 0;
      text-indent: -9999em;
      width: 281px;
      height: 48px;
      background: url('../../images/logo.png') no-repeat 0 0; }
  /* line 33, ../scss/components/_header.scss */
  #header #menu ul li {
    float: left;
    font-size: 0.813em;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
    /* line 41, ../scss/components/_header.scss */
    #header #menu ul li a {
      color: #FFF; }

/* line 2, ../scss/components/_hero.scss */
#hero {
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: #FFF; }
  /* line 9, ../scss/components/_hero.scss */
  #hero #heroHolder {
    padding-top: 150px;
    height: 450px;
    background: rgba(0, 0, 0, 0.6); }
    /* line 19, ../scss/components/_hero.scss */
    #hero #heroHolder .wrap #heroInfo h2 {
      font-size: 3.5em;
      line-height: 130%;
      padding-bottom: 25px; }
    /* line 27, ../scss/components/_hero.scss */
    #hero #heroHolder .wrap #heroInfo p {
      width: 80%;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.125em;
      font-weight: 300;
      line-height: 170%; }
    /* line 37, ../scss/components/_hero.scss */
    #hero #heroHolder .wrap #heroStatus {
      position: absolute;
      right: 30px;
      bottom: 30px; }
      /* line 43, ../scss/components/_hero.scss */
      #hero #heroHolder .wrap #heroStatus strong {
        float: right;
        padding: 10px 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      /* line 49, ../scss/components/_hero.scss */
      #hero #heroHolder .wrap #heroStatus.open strong {
        background: #27ae60; }
