/* line 17, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../scss/components/_covers.scss */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover !important; }

/* line 14, ../scss/components/_covers.scss */
#hero:hover #cover-1 {
  -webkit-animation: fadecover 3s 0 infinite alternate ease-out;
  -moz-animation: fadecover 3s 0 infinite alternate ease-out;
  -o-animation: fadecover 3s 0 infinite alternate ease-out;
  animation: fadecover 3s 0 infinite alternate ease-out;
  background: url('../../images/examples/bicentenario.jpg') no-repeat 0 0; }
/* line 19, ../scss/components/_covers.scss */
#hero:hover #cover-2 {
  -webkit-animation: fadecoveralt 3s 8s infinite alternate ease-out;
  -moz-animation: fadecoveralt 3s 8s infinite alternate ease-out;
  -o-animation: fadecoveralt 3s 8s infinite alternate ease-out;
  animation: fadecoveralt 3s 8s infinite alternate ease-out;
  background: url('../../images/examples/malba.jpg') no-repeat 0 0; }
/* line 24, ../scss/components/_covers.scss */
#hero:hover #cover-3 {
  -webkit-animation: fadecoveralt 3s 1s infinite alternate ease-out;
  -moz-animation: fadecoveralt 3s 1s infinite alternate ease-out;
  -o-animation: fadecoveralt 3s 1s infinite alternate ease-out;
  animation: fadecoveralt 3s 1s infinite alternate ease-out;
  background: url('../../images/examples/bellas-artes.jpg') no-repeat 0 0; }

@-webkit-keyframes fadecover {
  /* line 32, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 33, ../scss/components/_covers.scss */
  to {
    opacity: 0.5; } }

@-moz-keyframes fadecover {
  /* line 32, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 33, ../scss/components/_covers.scss */
  to {
    opacity: 0.5; } }

@-ms-keyframes fadecover {
  /* line 32, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 33, ../scss/components/_covers.scss */
  to {
    opacity: 0.5; } }

@keyframes fadecover {
  /* line 32, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 33, ../scss/components/_covers.scss */
  to {
    opacity: 0.5; } }

@-webkit-keyframes fadecoveralt {
  /* line 37, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 38, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@-moz-keyframes fadecoveralt {
  /* line 37, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 38, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@-ms-keyframes fadecoveralt {
  /* line 37, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 38, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@keyframes fadecoveralt {
  /* line 37, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 38, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@-webkit-keyframes fadecoveralter {
  /* line 42, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 43, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@-moz-keyframes fadecoveralter {
  /* line 42, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 43, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@-ms-keyframes fadecoveralter {
  /* line 42, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 43, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

@keyframes fadecoveralter {
  /* line 42, ../scss/components/_covers.scss */
  from {
    opacity: 1; }

  /* line 43, ../scss/components/_covers.scss */
  to {
    opacity: 0; } }

/* line 2, ../scss/components/_base.scss */
body {
  font: 100% 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #444; }

/* line 9, ../scss/components/_base.scss */
.wrap {
  width: 1000px;
  margin: 0 auto; }

/* line 14, ../scss/components/_base.scss */
#logo a, #header .wrap #menu strong, .rating li, #heroContact li {
  background: url('../../images/sprite.png') no-repeat 0 0; }

/* line 18, ../scss/components/_base.scss */
a {
  text-decoration: none; }

/* line 22, ../scss/components/_base.scss */
strong {
  font-weight: 600; }

/* line 26, ../scss/components/_base.scss */
em {
  font-style: italic; }

/* line 30, ../scss/components/_base.scss */
.title {
  font-size: 1.333em;
  font-weight: 300;
  color: #000;
  padding-bottom: 5px;
  margin: 30px 0 20px;
  border-bottom: 1px solid #DDD; }

/* line 39, ../scss/components/_base.scss */
.rating {
  cursor: pointer; }
  /* line 43, ../scss/components/_base.scss */
  .rating ol {
    overflow: hidden; }
    /* line 47, ../scss/components/_base.scss */
    .rating ol li {
      float: left;
      margin-right: 3px;
      display: block;
      font-size: 0;
      text-indent: -9999em;
      width: 21px;
      height: 20px;
      background-position: -260px 0; }
    /* line 58, ../scss/components/_base.scss */
    .rating ol .active {
      background-position: -260px -20px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

/* line 76, ../scss/components/_base.scss */
.rating-4 .star-5,
.rating-3 .star-5,
.rating-3 .star-4,
.rating-2 .star-5,
.rating-2 .star-4,
.rating-2 .star-3,
.rating-1 .star-5,
.rating-1 .star-4,
.rating-1 .star-3,
.rating-1 .star-2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

/* line 80, ../scss/components/_base.scss */
.accesible {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/* line 89, ../scss/components/_base.scss */
.badge {
  color: #FFF;
  font-size: 0.813em;
  padding: 7px 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 97, ../scss/components/_base.scss */
.open {
  background-color: #27ae60 !important; }

/* line 101, ../scss/components/_base.scss */
.closed {
  background-color: #c0392b !important; }

/* line 105, ../scss/components/_base.scss */
.btn {
  cursor: pointer;
  font-size: 0.875em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 20px;
  color: #FFF;
  background: #ffdc3a;
  border: 0;
  color: #000; }
  /* line 116, ../scss/components/_base.scss */
  .btn:hover {
    color: #FFF;
    background: #000; }

/* line 123, ../scss/components/_base.scss */
.btn-big {
  font-size: 1.125em;
  padding: 10px 30px; }

/* line 128, ../scss/components/_base.scss */
.btn-tw {
  background: #2e81bc; }

/* line 132, ../scss/components/_base.scss */
#central {
  overflow: hidden;
  padding: 30px 0 60px; }

/* line 2, ../scss/components/_header.scss */
#header {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 3; }
  /* line 10, ../scss/components/_header.scss */
  #header .wrap {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    /* line 20, ../scss/components/_mixins.scss */
    #header .wrap:before, #header .wrap:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    /* line 26, ../scss/components/_mixins.scss */
    #header .wrap:after {
      clear: both; }
    /* line 17, ../scss/components/_header.scss */
    #header .wrap #menu,
    #header .wrap #login {
      float: right; }
    /* line 21, ../scss/components/_header.scss */
    #header .wrap #logo {
      float: left; }
      /* line 25, ../scss/components/_header.scss */
      #header .wrap #logo a {
        display: block;
        font-size: 0;
        text-indent: -9999em;
        width: 260px;
        height: 46px; }
    /* line 35, ../scss/components/_header.scss */
    #header .wrap #menu {
      margin-top: 10px; }
      /* line 39, ../scss/components/_header.scss */
      #header .wrap #menu strong {
        display: none;
        cursor: pointer;
        padding-left: 30px;
        margin-top: -5px;
        color: #FFF;
        background-position: 0 -46px; }
      /* line 50, ../scss/components/_header.scss */
      #header .wrap #menu ul li {
        float: left;
        font-size: 0.75em;
        margin-left: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2em; }
        /* line 58, ../scss/components/_header.scss */
        #header .wrap #menu ul li a {
          color: #FFF; }
      /* line 64, ../scss/components/_header.scss */
      #header .wrap #menu ul .tw-connect {
        display: none; }
      /* line 68, ../scss/components/_header.scss */
      #header .wrap #menu ul .current a {
        color: #FFC; }
    /* line 76, ../scss/components/_header.scss */
    #header .wrap #login {
      margin-left: 30px; }
      /* line 80, ../scss/components/_header.scss */
      #header .wrap #login .btn {
        color: #FFF; }

/* line 2, ../scss/components/_hero.scss */
#hero {
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: #FFF; }
  /* line 9, ../scss/components/_hero.scss */
  #hero #heroHolder {
    background: rgba(0, 0, 0, 0.65);
    padding-bottom: 70px;
    position: relative;
    z-index: 2; }
    /* line 16, ../scss/components/_hero.scss */
    #hero #heroHolder .wrap {
      overflow: hidden; }
      /* line 20, ../scss/components/_hero.scss */
      #hero #heroHolder .wrap #heroInfo {
        padding: 140px 0 60px; }
        /* line 24, ../scss/components/_hero.scss */
        #hero #heroHolder .wrap #heroInfo .rating {
          margin: 10px 0 30px; }
        /* line 30, ../scss/components/_hero.scss */
        #hero #heroHolder .wrap #heroInfo h2, #hero #heroHolder .wrap #heroInfo p strong {
          font-family: Georgia, Times, serif;
          font-weight: 500; }
        /* line 34, ../scss/components/_hero.scss */
        #hero #heroHolder .wrap #heroInfo h2 {
          font-size: 3.5em;
          line-height: 120%;
          padding-bottom: 30px; }
        /* line 42, ../scss/components/_hero.scss */
        #hero #heroHolder .wrap #heroInfo .intro {
          font-size: 4em;
          text-align: center;
          padding: 30px 0 0; }
        /* line 48, ../scss/components/_hero.scss */
        #hero #heroHolder .wrap #heroInfo p {
          color: rgba(255, 255, 255, 0.85);
          font-size: 1.25em;
          font-weight: 300;
          line-height: 160%;
          padding-bottom: 12px; }
          /* line 56, ../scss/components/_hero.scss */
          #hero #heroHolder .wrap #heroInfo p strong {
            font-size: 1.25em;
            font-weight: 300; }
  /* line 69, ../scss/components/_hero.scss */
  #hero #heroSearch {
    padding-bottom: 20px;
    position: relative; }
    /* line 74, ../scss/components/_hero.scss */
    #hero #heroSearch input {
      width: 96%;
      font-size: 1.333em;
      color: #666;
      padding: 15px 2%;
      border: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      /* line 83, ../scss/components/_hero.scss */
      #hero #heroSearch input:focus {
        color: #000;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
    /* line 90, ../scss/components/_hero.scss */
    #hero #heroSearch .btn {
      position: absolute;
      top: 6px;
      right: 8px; }
  /* line 100, ../scss/components/_hero.scss */
  #hero #heroContact ul {
    overflow: hidden; }
    /* line 104, ../scss/components/_hero.scss */
    #hero #heroContact ul li {
      float: left;
      margin-right: 10px;
      padding: 15px 20px 15px 45px;
      text-align: center;
      font-size: 0.875em;
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.15);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
      /* line 115, ../scss/components/_hero.scss */
      #hero #heroContact ul li a {
        color: #FFF; }
        /* line 117, ../scss/components/_hero.scss */
        #hero #heroContact ul li a:hover {
          color: #FFC;
          text-decoration: underline; }
    /* line 127, ../scss/components/_hero.scss */
    #hero #heroContact ul #hc-museum {
      background-position: -320px -0px; }
    /* line 127, ../scss/components/_hero.scss */
    #hero #heroContact ul #hc-phone {
      background-position: -320px -60px; }
    /* line 127, ../scss/components/_hero.scss */
    #hero #heroContact ul #hc-website {
      background-position: -320px -122px; }

/* line 2, ../scss/components/_list.scss */
.museumList {
  padding: 0 10px 40px; }
  /* line 6, ../scss/components/_list.scss */
  .museumList .title {
    margin: 60px 15px 30px;
    clear: both; }
  /* line 11, ../scss/components/_list.scss */
  .museumList ul {
    overflow: hidden; }
    /* line 15, ../scss/components/_list.scss */
    .museumList ul .museum {
      float: left;
      width: 300px;
      margin: 0 15px 30px;
      position: relative; }
      /* line 22, ../scss/components/_list.scss */
      .museumList ul .museum .mPic {
        position: relative; }
        /* line 26, ../scss/components/_list.scss */
        .museumList ul .museum .mPic a {
          display: block; }
          /* line 30, ../scss/components/_list.scss */
          .museumList ul .museum .mPic a img {
            display: block;
            width: 100%;
            height: auto; }
          /* line 36, ../scss/components/_list.scss */
          .museumList ul .museum .mPic a .rating {
            position: absolute;
            z-index: 2;
            right: 5px;
            bottom: 10px;
            -webkit-transform: scale(0.8, 0.8);
            -moz-transform: scale(0.8, 0.8);
            -ms-transform: scale(0.8, 0.8);
            -o-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8); }
          /* line 44, ../scss/components/_list.scss */
          .museumList ul .museum .mPic a span {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            -webkit-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.2); }
          /* line 55, ../scss/components/_list.scss */
          .museumList ul .museum .mPic a:hover span {
            display: block; }
      /* line 65, ../scss/components/_list.scss */
      .museumList ul .museum .mInfo h3 {
        padding: 20px 0 10px;
        text-overflow: ellipsis; }
        /* line 70, ../scss/components/_list.scss */
        .museumList ul .museum .mInfo h3 a {
          color: #000; }
          /* line 72, ../scss/components/_list.scss */
          .museumList ul .museum .mInfo h3 a:hover {
            background: #fff1b0; }
      /* line 79, ../scss/components/_list.scss */
      .museumList ul .museum .mInfo p {
        font-size: 0.875em;
        color: #666;
        padding-right: 30px; }
      /* line 85, ../scss/components/_list.scss */
      .museumList ul .museum .mInfo .badge {
        position: absolute;
        top: 10px;
        left: 10px; }

/* line 99, ../scss/components/_list.scss */
#loadMore {
  text-align: center;
  padding-top: 30px; }

/* line 2, ../scss/components/_content.scss */
#content {
  float: left;
  width: 60%; }
  /* line 7, ../scss/components/_content.scss */
  #content #description {
    margin-bottom: 30px; }
    /* line 11, ../scss/components/_content.scss */
    #content #description p {
      line-height: 170%;
      padding-bottom: 15px; }
    /* line 16, ../scss/components/_content.scss */
    #content #description span {
      color: #145b32; }
  /* line 25, ../scss/components/_content.scss */
  #content #instagram ul {
    overflow: hidden; }
    /* line 29, ../scss/components/_content.scss */
    #content #instagram ul li {
      float: left;
      margin: 0 15px 15px 0; }
      /* line 34, ../scss/components/_content.scss */
      #content #instagram ul li a {
        display: block;
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
        /* line 41, ../scss/components/_content.scss */
        #content #instagram ul li a img {
          display: block;
          width: 80px;
          height: 80px; }
      /* line 51, ../scss/components/_content.scss */
      #content #instagram ul li:nth-child(7) {
        clear: left; }

/* line 2, ../scss/components/_sidebar.scss */
#sidebar {
  float: right;
  width: 30%; }
  /* line 9, ../scss/components/_sidebar.scss */
  #sidebar #map #gMap {
    width: 100%;
    height: 220px; }
  /* line 14, ../scss/components/_sidebar.scss */
  #sidebar #map p {
    font-size: 0.875em;
    line-height: 160%;
    color: #666;
    padding-top: 20px; }
  /* line 26, ../scss/components/_sidebar.scss */
  #sidebar #twitter li {
    overflow: hidden; }
    /* line 30, ../scss/components/_sidebar.scss */
    #sidebar #twitter li .twPic {
      float: left;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      /* line 37, ../scss/components/_sidebar.scss */
      #sidebar #twitter li .twPic img {
        display: block;
        width: 100%;
        height: 100%; }
    /* line 45, ../scss/components/_sidebar.scss */
    #sidebar #twitter li .twText {
      float: right;
      width: 80%;
      font-size: 0.813em;
      margin-bottom: 10px;
      line-height: 150%; }
      /* line 53, ../scss/components/_sidebar.scss */
      #sidebar #twitter li .twText em {
        font-color: #999; }

/* line 2, ../scss/components/_footer.scss */
#footer {
  background: #FAFAFA;
  margin-top: 30px;
  padding: 15px 0;
  font-size: 0.75em;
  color: #999;
  border-top: 1px solid #EEE; }
