@media screen and (max-width: 1100px) {
  /* line 6, ../scss/responsive.scss */
  #header .wrap #menu {
    position: relative; }
    /* line 10, ../scss/responsive.scss */
    #header .wrap #menu strong {
      display: block; }
    /* line 14, ../scss/responsive.scss */
    #header .wrap #menu .active {
      text-decoration: underline; }
    /* line 18, ../scss/responsive.scss */
    #header .wrap #menu ul {
      width: 220px;
      background: rgba(0, 0, 0, 0.6);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      top: 30px;
      right: 0; }
      /* line 26, ../scss/responsive.scss */
      #header .wrap #menu ul li {
        float: none;
        text-align: right;
        padding: 7px 10px;
        margin: 0; }

  /* line 37, ../scss/responsive.scss */
  .wrap {
    width: auto;
    padding-left: 30px !important;
    padding-right: 30px !important; }

  /* line 43, ../scss/responsive.scss */
  #hero #heroSearch .btn {
    top: 7px;
    right: 5%; }

  /* line 48, ../scss/responsive.scss */
  #header #menu ul {
    display: none; } }
@media screen and (max-width: 800px) {
  /* line 56, ../scss/responsive.scss */
  #hero #heroHolder .wrap #heroInfo h2 {
    font-size: 3em !important; }

  /* line 60, ../scss/responsive.scss */
  #hero #heroContact ul #hc-museum li {
    margin: 0 0 10px 0; }

  /* line 65, ../scss/responsive.scss */
  #content,
  #sidebar {
    float: none;
    width: auto; }

  /* line 70, ../scss/responsive.scss */
  #sidebar #twitter li .twText {
    width: 90%; } }
@media screen and (max-width: 500px) {
  /* line 78, ../scss/responsive.scss */
  #header {
    top: 20px; }

  /* line 82, ../scss/responsive.scss */
  #header .wrap #logo {
    float: none; }

  /* line 86, ../scss/responsive.scss */
  #header .wrap #menu {
    float: none;
    text-align: center; }
    /* line 89, ../scss/responsive.scss */
    #header .wrap #menu strong {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }

  /* line 94, ../scss/responsive.scss */
  #hero #heroHolder .wrap #heroInfo h2 {
    font-size: 2em !important; }

  /* line 98, ../scss/responsive.scss */
  #hero #heroSearch {
    font-size: 0.75em;
    padding: 0; }
    /* line 101, ../scss/responsive.scss */
    #hero #heroSearch .btn {
      position: static;
      margin-top: 10px;
      display: block; }

  /* line 108, ../scss/responsive.scss */
  #login {
    display: none; }

  /* line 112, ../scss/responsive.scss */
  #header .wrap #menu ul .tw-connect {
    display: block; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 119, ../scss/responsive.scss */
  #logo a, #header .wrap #menu strong, #heroContact li {
    background-image: url('../../images/sprite-retina.png?1368974270');
    background-size: 350px 154px; } }
