	
	@media screen and (max-width:1000px){
		
		.wrap {
			width:auto;
			padding-left:30px !important;
			padding-right:30px !important;
		}

		#header #menu {
			
			ul {
				display:none;
			}

		}

	}

	@media screen and (max-width:800px){
		
		#hero #heroHolder .wrap #heroInfo {
			
			h2 {
				font-size:2em;
			}

		}

		#hero #heroContact ul #hc-museum li {
			margin:0 0 10px 0;
		}

		#content,
		#sidebar {
			float:none;
			width:auto;
		}

	}