	
	body {

		font:100% 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

	}

	.wrap {
		width:1000px;
		margin:0 auto;
	}

	a {
		text-decoration:none;
	}

	strong {
		font-weight:600;
	}

	.btn {
		font-size:0.938em;
		@include inline-block;
		@include border-radius(20px);
		padding:7px 20px;
		color:#FFF;
		background:#000;
	}
	.btn-tw {
		background:$twitter;
	}