	
	#header {
		
		width:100%;
		position:absolute;
		top:50px;
		left:0;
		z-index:2;

		.wrap {
			
			overflow:hidden;
			padding-bottom:30px;
			border-bottom:1px solid rgba(255,255,255,0.1);

			#menu,
			#login {
				float:right;
			}

			#logo {
				
				float:left;
				margin-right:100px;
				
				a {
					
					@include hidetext;
					width:260px;
					height:45px;
					background:image-url('logo.png', false, false) no-repeat 0 0;

				}

			}

			#menu {

				margin-top:10px;
				
				ul {
					
					li {

						float:left;
						font-size:0.75em;
						margin-left:30px;
						text-transform:uppercase;
						letter-spacing:0.2em;
					
						a {
							color:#FFF;
						}

					}

					.current a {
						color:#FFC;
					}

				}

			}

			#login {
				
				margin-left:30px;

			}

		}

	}