	
	#hero {

		position:relative;
		overflow:hidden;
		background-color:#000;
		background-size:cover;
		color:#FFF;

		#heroHolder {
			
			background:rgba(0,0,0,0.65);
			padding-bottom:70px;
			
			.wrap {

				overflow:hidden;

				#heroInfo {
					
					padding:150px 0 60px;

					#rating {

						@include hidetext;
						width:117px;
						height:20px;
						margin-bottom:30px;
						background-image:image-url('icons/rating.png', false, false);
						background-repeat:no-repeat;
						

						@for $i from 1 through 5 {
							&.stars-#{$i} {
								background-position:0 -#{$i * 20}px;
							}
						}

					}

					h2, p strong {
						@include museo;
						font-weight:600;
					}

					h2 {

						font-size:3.5em;
						font-weight:600;
						line-height:120%;
						padding-bottom:30px;

					}
				
					p {

						color:rgba(255,255,255,0.85);
						font-size:1.25em;
						font-weight:300;
						line-height:160%;
						padding-bottom:12px;

						strong {
							font-size:1.25em;
							font-weight:300;
						}

					}

				}

			}

		}

		#heroContact {

			ul {

				overflow:hidden;

				li {
					
					float:left;
					margin-right:10px;
					padding:15px 20px 15px 45px;
					text-align:center;
					font-size:0.875em;
					border:1px solid rgba(0,0,0,0.5);
					@include border-radius(2px);

					a {
						color:#FFF;
						&:hover {
							color:#FFC;
							text-decoration:underline;
						}
					}

				}

				$contacts : museum, phone, website;
				@each $c in $contacts {
					#hc-#{$c} {
						background:rgba(255,255,255,0.15) image-url('icons/#{$c}.png', false, false) no-repeat 15px 18px;
					}
				}

				#hc-museum {

					&.open {
						background-color:$open;
					}

				}

			}

		}

	}