
	
	$gobcolor: #FFDC3A;
	$open : #27AE60;
	$closed : #C0392B;
	$twitter : #2E81BC;

	@mixin hidetext {
		display:block;
		font-size:0;
		text-indent:-9999em;
	}

	@mixin museo {
		font-family:'Museo', Helvetica Neue, Helvetica, Arial, sans-serif;
	}